<div class="d-flex justify-content-center">
    <div class="col-10 header card-1 ">
        <h1 >{{title}}</h1>
        <div class="nav">
            <a href="/">Weather</a>
            <a href="/about">About</a>
            {{!-- <a href="/help">Help</a> --}}
        </div>
    </div>
</div>
